<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href={{ "assets/icons/apple-touch-icon.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="180x180" href={{ "assets/icons/apple-touch-icon-180x180.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="150x150" href={{ "assets/icons/apple-touch-icon-150x150.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="120x120" href={{ "assets/icons/apple-touch-icon-120x120.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="76x76" href={{ "assets/icons/apple-touch-icon-76x76.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="60x60" href={{ "assets/icons/apple-touch-icon-60x60.png" | relative_url }}>

<link rel="icon" type="image/png" sizes="32x32" href={{ "favicon-32x32.png" | relative_url }}>
<link rel="icon" type="image/png" sizes="16x16" href={{ "favicon-16x16.png" | relative_url }}>

<link rel="manifest" href={{ "site.webmanifest" | relative_url }}>

<link rel="mask-icon" href={{ "assets/icons/safari-pinned-tab.svg" | relative_url }} color="#5099d8">

<meta name="apple-mobile-web-app-title" content="Tirthankar's Blog">
<meta name="application-name" content="Tirthankar's Blog">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
