<!-- start custom head snippets -->

<!-- Google Analytics tag -->

<meta name="google-site-verification" content="X43scR_OkUwLIsJyRjyNpqJyDiCV0T4fhIeHkfT6HS4" />

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- Chrome Favicons -->

<link rel="icon" type="image/png" sizes="192x192" href={{ "assets/icons/android-chrome-192x192.png" | relative_url }}>
<link rel="icon" type="image/png" sizes="512x512" href={{ "assets/icons/android-chrome-512x512.png" | relative_url }}>

<!-- End Chrome Favicons -->

<!-- Apple Favicons -->

<link rel="apple-touch-icon" sizes="180x180" href={{ "assets/icons/apple-touch-icon.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="180x180" href={{ "assets/icons/apple-touch-icon-180x180.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="152x152" href={{ "assets/icons/apple-touch-icon-152x152.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="120x120" href={{ "assets/icons/apple-touch-icon-120x120.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="76x76" href={{ "assets/icons/apple-touch-icon-76x76.png" | relative_url }}>
<link rel="apple-touch-icon" sizes="60x60" href={{ "assets/icons/apple-touch-icon-60x60.png" | relative_url }}>

<!-- End Apple Favicons -->

<!-- Classic Favicons -->

<link rel="icon" type="image/png" sizes="32x32" href={{ "assets/favicons/favicon-32x32.png" | relative_url }}>
<link rel="icon" type="image/png" sizes="16x16" href={{ "assets/favicons/favicon-16x16.png" | relative_url }}>
<link rel="shortcut icon" href={{ "assets/favicons/favicon.ico" | relative_url }}>

<!-- End Classic Favicons -->

<link rel="manifest" href={{ "site.webmanifest" | relative_url }}>

<link rel="mask-icon" href={{ "assets/icons/safari-pinned-tab.svg" | relative_url }} color="#5099d8">

<meta name='msapplication-config' content={{ "browserconfig.xml" | relative_url }}>

<meta name="apple-mobile-web-app-title" content="Tirthankar's Blog">
<meta name="application-name" content="Tirthankar's Blog">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
