{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.usemathjax %}
<!-- MathJax stuff -->
<script>
window.MathJax = {
  loader: {
    load: ['[tex]/mathtools']
  },
  tex: {
	displayMath: [["$$","$$"], ["\\[", "\\]"]],
    inlineMath: [['$', '$'], ['\\(', '\\)']],
	packages: {'[+]': ['mathtools']}
  }
};
</script>

<script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endif %}

{% if page.usecodehl %}
{% comment %}
It would be better to have some automatic way to decide whether to include the code highlighter code or not. But it's fine as it is.

Here is an explanation of the short form: usecodehl = use code hl = use code highlighter
{% endcomment %}
<!-- Code highlighter stuff, along with line numbering stuff -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai-sublime.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>

<script>
       hljs.highlightAll();
       hljs.initLineNumbersOnLoad();
</script>
{% endif %}

{% if page.usemermaid %}

<!-- Mermaid-related stuff -->
<script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>

<script>
  $(document).ready(function () {
    mermaid.initialize({
      startOnLoad:true,
      theme: "default",
    });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  });
</script>
{% endif %}

<!-- Scroll to Top Button -->
<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: 'rgb(255, 133, 0)',
  textColor: '#fff',
  scrollDuration: 150
})</script>
