@charset "utf-8";

.list-section {
  margin-left: 25px; /* Adjust as needed to move the list to the right */
}

.list-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0; /* Add this to reset the default list padding */
}

.list-section ul li {
  margin: 1em 0;
  display: flex;
  align-items: center;
}

.list-item-icon {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.45 5.154A4.25 4.25 0 0 0 9.25 7.5h1.378a2.251 2.251 0 1 1 0 1.5H9.25A5.734 5.734 0 0 1 5 7.123v3.505a2.25 2.25 0 1 1-1.5 0V5.372a2.25 2.25 0 1 1 1.95-.218ZM4.25 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm8.5-4.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM5 3.25a.75.75 0 1 0 0 .005V3.25Z'/%3E%3C/svg%3E");
  height: 18px; width: 18px;
  transform: translatex(-50%) scale(1.5);
  filter: invert(53%) sepia(94%) saturate(1785%) hue-rotate(223deg) brightness(87%) contrast(102%);
}